Q1 with simple Linear Regression

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ML_Lab/USA_Housing.csv', sep=',')
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05
...,...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103,1.060194e+06
4996,78491.27543,6.999135,6.576763,4.02,25616.11549,1.482618e+06
4997,63390.68689,7.250591,4.805081,2.13,33266.14549,1.030730e+06
4998,68001.33124,5.534388,7.130144,5.44,42625.62016,1.198657e+06
4999,65510.58180,5.992305,6.792336,4.07,46501.28380,1.298950e+06

In [ ]:
df.isna().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
dtype: int64

No null values so we do not have to use fillna methods

In [ ]:
X = df.iloc[:,0:5]
X

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.45857,5.682861,7.009188,4.09,23086.80050
1,79248.64245,6.002900,6.730821,3.09,40173.07217
2,61287.06718,5.865890,8.512727,5.13,36882.15940
3,63345.24005,7.188236,5.586729,3.26,34310.24283
4,59982.19723,5.040555,7.839388,4.23,26354.10947
...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103
4996,78491.27543,6.999135,6.576763,4.02,25616.11549
4997,63390.68689,7.250591,4.805081,2.13,33266.14549
4998,68001.33124,5.534388,7.130144,5.44,42625.62016
4999,65510.58180,5.992305,6.792336,4.07,46501.28380

In [ ]:
Y = df.iloc[:,5]

In [ ]:
Y = np.array(Y)
print(Y.shape)
Y = Y.reshape(-1,1)
Y.shape

(5000,)

(5000, 1)

In [ ]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
X_scaled = np.insert(X_scaled,0,1,axis=1)
X_scaled.shape

(5000, 6)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train,Y_test = train_test_split(X_scaled,Y,test_size = 0.3, random_state = 42)

In [ ]:
A = X_train.T.dot(X_train)  #X_transpose*X
B = np.linalg.inv(A)
C = B.dot(X_train.T) #(X_tranpose*X)invers*X
beta = C.dot(Y_train)
print(beta)

[[1231278.63687691]
 [ 230464.52520478]
 [ 164159.19982569]
 [ 120514.71328324]
 [   2913.62424674]
 [ 151019.35865134]]

In [ ]:
y_predict = X_test.dot(beta)
print(y_predict)

NameError: ignored

In [ ]:
error = Y_test-y_predict
print(error)
square_error = np.power(error,2)

sum_square_error = np.sum(square_error)
mean_square_error = sum_square_error/len(y_predict)

[[ 30559.94088828]
 [ 14671.45152885]
 [ 96259.3379047 ]
 ...
 [ 15767.45399778]
 [-73666.8339654 ]
 [-37904.31341982]]

Q1 With KFold

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('/content/drive/MyDrive/ML_Lab/USA_Housing.csv', sep=',')
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05
...,...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103,1.060194e+06
4996,78491.27543,6.999135,6.576763,4.02,25616.11549,1.482618e+06
4997,63390.68689,7.250591,4.805081,2.13,33266.14549,1.030730e+06
4998,68001.33124,5.534388,7.130144,5.44,42625.62016,1.198657e+06
4999,65510.58180,5.992305,6.792336,4.07,46501.28380,1.298950e+06

In [3]:
X = df.iloc[:,0:5]
X

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.45857,5.682861,7.009188,4.09,23086.80050
1,79248.64245,6.002900,6.730821,3.09,40173.07217
2,61287.06718,5.865890,8.512727,5.13,36882.15940
3,63345.24005,7.188236,5.586729,3.26,34310.24283
4,59982.19723,5.040555,7.839388,4.23,26354.10947
...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103
4996,78491.27543,6.999135,6.576763,4.02,25616.11549
4997,63390.68689,7.250591,4.805081,2.13,33266.14549
4998,68001.33124,5.534388,7.130144,5.44,42625.62016
4999,65510.58180,5.992305,6.792336,4.07,46501.28380

In [4]:
Y = df.iloc[:,5]

In [5]:
Y = np.array(Y)
print(Y.shape)
Y = Y.reshape(-1,1)
Y.shape

(5000,)

(5000, 1)

In [6]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [7]:
X_scaled = np.insert(X_scaled,0,1,axis=1)
X_scaled.shape

(5000, 6)

In [8]:
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score
kfold = KFold(n_splits = 5, random_state = 1, shuffle = True)

betas = []
score = []
predicts = []

pred_vals = []
i=1
for train_indice, test_indice in kfold.split(X_scaled):
  
  X_train , X_test = X_scaled[train_indice], X_scaled[test_indice]
  Y_train , Y_test = Y[train_indice], Y[test_indice]

  A = X_train.T.dot(X_train)  #X_transpose*X
  B = np.linalg.inv(A)
  C = B.dot(X_train.T) #(X_tranpose*X)invers*X
  beta = C.dot(Y_train)
  
  betas.append(beta)

  y_predict = X_test.dot(beta)
  predicts.append(y_predict)
  err = r2_score(y_predict,Y_test)
  print(f'For iteraton {i}: {err} ')

  score.append(err)
  i = i+1

For iteraton 1: 0.9152767266188588
For iteraton 2: 0.9026025890230072
For iteraton 3: 0.9066943536945468
For iteraton 4: 0.908088628164762
For iteraton 5: 0.9182082057141105

In [10]:
maxVal = max(score)
maxIdx = score.index(maxVal)
maxIdx

bestBeta = betas[maxIdx]
bestBeta

array([[1231877.38800101],
       [ 229760.39069988],
       [ 163970.88379553],
       [ 121802.91672949],
       [   1457.42287297],
       [ 151113.18179475]])

Q2 Gradient Descent

In [90]:
df = pd.read_csv('/content/drive/MyDrive/ML_Lab/USA_Housing.csv', sep=',')
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05
...,...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103,1.060194e+06
4996,78491.27543,6.999135,6.576763,4.02,25616.11549,1.482618e+06
4997,63390.68689,7.250591,4.805081,2.13,33266.14549,1.030730e+06
4998,68001.33124,5.534388,7.130144,5.44,42625.62016,1.198657e+06
4999,65510.58180,5.992305,6.792336,4.07,46501.28380,1.298950e+06

In [91]:
X = df.iloc[:,0:5]
X

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.45857,5.682861,7.009188,4.09,23086.80050
1,79248.64245,6.002900,6.730821,3.09,40173.07217
2,61287.06718,5.865890,8.512727,5.13,36882.15940
3,63345.24005,7.188236,5.586729,3.26,34310.24283
4,59982.19723,5.040555,7.839388,4.23,26354.10947
...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103
4996,78491.27543,6.999135,6.576763,4.02,25616.11549
4997,63390.68689,7.250591,4.805081,2.13,33266.14549
4998,68001.33124,5.534388,7.130144,5.44,42625.62016
4999,65510.58180,5.992305,6.792336,4.07,46501.28380

In [92]:
Y = df.iloc[:,5]

In [93]:
Y = np.array(Y)
print(Y.shape)
Y = Y.reshape(-1,1)
Y.shape

(5000,)

(5000, 1)

In [94]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [95]:
X_scaled = np.insert(X_scaled,0,1,axis=1)
X_scaled.shape

(5000, 6)

In [96]:
from sklearn.model_selection import train_test_split

train_ratio = 0.56
validation_ratio = 0.14
test_ratio = 0.30

# train is now 56% of the entire data set
# the _junk suffix means that we drop that variable completely
x_train, x_test, y_train, y_test = train_test_split(X_scaled, Y, test_size=1-train_ratio)

# test is now 30% of the initial data set
# validation is now 14% of the initial data set
x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=test_ratio/(test_ratio + validation_ratio))

In [97]:
learning_rate = [0.001, 0.01, 0.1, 1]

In [98]:
from sklearn.base import BaseEstimator
beta = np.zeros(6)
num_iter = 1000
n = len(x_train)
max_beta = None
max_r2_score = -100000


for i in learning_rate:
    for j in range(1000):

        x0_grad = 0
        x1_grad = 0
        x2_grad = 0
        x3_grad = 0
        x4_grad = 0
        x5_grad = 0

        for k in range(len(x_train)):

            a = x_train[k,0]
            b = x_train[k,1]
            c = x_train[k,2]
            d = x_train[k,3]
            e = x_train[k,4]
            f = y_train[k,]
            # print(f)
            
            x0_grad += (beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f)
            x1_grad += ((beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f) * a)
            x2_grad += ((beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f) * b)
            x3_grad += ((beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f) * c) 
            x4_grad += ((beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f) * d)
            x5_grad += ((beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f) * e)

        beta[0] = beta[0] - i / n * x0_grad
        beta[1] = beta[1] - i / n * x1_grad
        beta[2] = beta[2] - i / n * x2_grad
        beta[3] = beta[3] - i / n * x3_grad
        beta[4] = beta[4] - i / n * x4_grad
        beta[5] = beta[5] - i / n * x5_grad
        
        beta = np.array(beta).reshape(-1,1)
        y_pred = x_val.dot(beta)

        error = y_val - y_pred
        sq_err = np.power(error, 2)

        sum_sq_err = np.sum(sq_err)
        mse = sum_sq_err/len(y_pred)
        rmse = np.sqrt(mse)

        y_mean = np.mean(y_val)
        total_variance = np.sum((y_val-y_mean)**2)

        r2_score = (1-sum_sq_err/total_variance)
        # print(r2_score)

        if r2_score > max_r2_score:
            best_learning_rate = i
            max_beta = beta
            max_r2_score = r2_score

In [60]:
print(max_beta)
print(best_learning_rate)

[[241011.48195923]
 [241011.48195923]
 [236060.76578925]
 [154944.3506155 ]
 [118491.41326757]
 [ 21941.22434495]]
1

In [61]:

y_pred = x_test.dot(max_beta)
error = y_test - y_pred
sq_err = np.power(error, 2)

sum_sq_err = np.sum(sq_err)
mse = sum_sq_err/len(y_pred)
rmse = np.sqrt(mse)

y_mean = np.mean(y_test)
total_variance = np.sum((y_test-y_mean)**2)

r2_score = (1-sum_sq_err/total_variance)

In [62]:
print(r2_score)

-7.354749289954325

Question 3

In [69]:
col_names = ["symboling", "normalized_losses",
"make", "fuel_type", "aspiration","num_doors", "body_style", "drive_wheels",
"engine_location", "wheel_base", "length", "width", "height", "curb_weight",
"engine_type", "num_cylinders", "engine_size", "fuel_system", "bore", "stroke",
"compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"]

In [70]:
cars_df = pd.read_csv("/content/drive/MyDrive/ML_Lab/imports-85.txt", header=None, names=col_names)
cars_df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [71]:
cars_df.isna().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [72]:
cars_df = cars_df.replace('?', -10)

In [73]:
cars_df.isna().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [101]:
cars_df.normalized_losses = cars_df.normalized_losses.astype("int64")
cars_df.bore = cars_df.bore.astype("float64")
cars_df.stroke = cars_df.stroke.astype("float64")
cars_df.price = cars_df.price.astype("float64")
cars_df.peak_rpm = cars_df.price.astype("float64")
cars_df.price = cars_df.price.astype("float64")
cars_df.horsepower = cars_df.horsepower.astype("float64")

In [75]:
cars_df = cars_df.replace(-10, np.nan)

In [76]:
cars_df.isna().sum()

symboling             0
normalized_losses    41
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [77]:
cars_df.dropna(subset=["price"], inplace=True)

In [78]:
cars_df["normalized_losses"].fillna(cars_df["normalized_losses"].mean(), inplace=True)
cars_df["bore"].fillna(cars_df["bore"].mean(), inplace=True)
cars_df["stroke"].fillna(cars_df["stroke"].mean(), inplace=True)
cars_df = cars_df.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [79]:
cars_df.isna().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [80]:
print(cars_df["num_doors"].value_counts())
print(cars_df["num_cylinders"].value_counts())

four    115
two      86
Name: num_doors, dtype: int64
four      157
six        24
five       10
two         4
eight       4
three       1
twelve      1
Name: num_cylinders, dtype: int64

In [82]:
cars_df["num_doors"].replace(["four", "two"], [4, 2], inplace=True)
cars_df["num_cylinders"].replace(["four", "six", "five", "two", "eight", "three", "twelve"], [4, 6, 5, 2, 8, 3, 12], inplace=True)

In [83]:
cars_df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,122.0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,164.0,audi,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,164.0,audi,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [102]:
print(cars_df["body_style"].unique())
print(cars_df["drive_wheels"].unique())

['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
['rwd' 'fwd' '4wd']

In [ ]:
cars_df = pd.get_dummies(cars_df, prefix=["body", "drive"], columns=["body_style", "drive_wheels"], drop_first=True)
cars_df.head()

In [85]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# “make”, “aspiration”, “engine_location”,fuel_type:
cars_df["make"] = le.fit_transform(cars_df["make"])
cars_df["aspiration"] = le.fit_transform(cars_df["aspiration"])
cars_df["engine_location"] = le.fit_transform(cars_df["engine_location"])
cars_df["fuel_type"] = le.fit_transform(cars_df["fuel_type"])
print(cars_df.shape)
cars_df.head()

(201, 26)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,122.0,0,1,0,2,convertible,rwd,0,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,122.0,0,1,0,2,convertible,rwd,0,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,122.0,0,1,0,2,hatchback,rwd,0,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,164.0,1,1,0,4,sedan,fwd,0,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,164.0,1,1,0,4,sedan,4wd,0,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [86]:
cars_df["fuel_system"].value_counts()

mpfi    92
2bbl    64
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel_system, dtype: int64

In [87]:
import re

x = cars_df["fuel_system"].unique()
for el in x:
    if re.search("pfi", el)!=None:
        cars_df["fuel_system"].replace(el, 1, inplace=True)
    else:
        cars_df["fuel_system"].replace(el, 0, inplace=True)

y = cars_df["engine_type"].unique()
for el in y:
    if re.search("ohc", el)!=None:
        cars_df["engine_type"].replace(el, 1, inplace=True)
    else:
        cars_df["engine_type"].replace(el, 0, inplace=True)

cars_df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,122.0,0,1,0,2,convertible,rwd,0,88.6,...,130,1,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,122.0,0,1,0,2,convertible,rwd,0,88.6,...,130,1,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,122.0,0,1,0,2,hatchback,rwd,0,94.5,...,152,1,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,164.0,1,1,0,4,sedan,fwd,0,99.8,...,109,1,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,164.0,1,1,0,4,sedan,4wd,0,99.4,...,136,1,3.19,3.40,8.0,115,5500,18,22,17450.0

In [100]:
cars_df.dtypes

symboling              int64
normalized_losses      int64
make                   int64
fuel_type              int64
aspiration             int64
num_doors              int64
body_style            object
drive_wheels          object
engine_location        int64
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type            int64
num_cylinders          int64
engine_size            int64
fuel_system            int64
bore                 float64
stroke               float64
compression_ratio    float64
horsepower            object
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [89]:
X = cars_df.loc[:, cars_df.columns!="price"]
Y = cars_df.loc[:, cars_df.columns=="price"]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_scaled = scaler.fit_transform(X)

In [ ]:
x_scaled = np.insert(x_scaled, 0, values=1, axis=1)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, Y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression().fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [ ]:
error = y_test - y_pred
sq_err = np.power(error, 2)

sum_sq_err = np.sum(sq_err)
mse = sum_sq_err/len(y_pred)
rmse = np.sqrt(mse)

y_mean = np.mean(y_val)
total_variance = np.sum((y_val-y_mean)**2)

r2_score = (1-sum_sq_err/total_variance)
print(r2_score)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)

x_scaled = pca.fit_transform(x_scaled)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, Y, test_size=0.3, random_state=42)

from sklearn.linear_model import LinearRegression
lr = LinearRegression().fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [ ]:
error = y_test - y_pred
sq_err = np.power(error, 2)

sum_sq_err = np.sum(sq_err)
mse = sum_sq_err/len(y_pred)
rmse = np.sqrt(mse)

y_mean = np.mean(y_val)
total_variance = np.sum((y_val-y_mean)**2)

r2_score = (1-sum_sq_err/total_variance)
print(r2_score)